.Products {
	width: 100%;
	padding-top: 80px;
	display: flex;
	flex-direction: column;

	.back {
		position: absolute;
		display: flex;
		align-items: center;
		cursor: pointer;
		top: 140px;
		left: 100px;

		h1 {
			font-size: 40px;
			font-weight: 400;
		}
	}

	.product {
		position: absolute;
		width: 75%;
		padding-top: 30px;
		margin-left: 400px;
		margin-top: 180px;
		background-color: #fff;
		border-top: 1px solid #bcc5ff;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 16px;
		justify-content: center;
		align-items: center;
	}
}

.loadingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
